<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a class="btn-floating btn-large orange tooltipped" href="checkin" data-position="bottom" data-delay="50"
     data-tooltip="Check In">
    <i class="large material-icons">location_on</i>
  </a>
</div>