<div id="evolutionPickModal" class="modal">
  <div class="modal-content">
    <h5>Evolution!</h5>
    <p id="evolutionPickMessage"></p>
  </div>
  <div class="modal-footer">
    <a href="profile" class="modal-action modal-close teal btn-flat" style="color:white;">Confirm</a>
  </div>
</div>