<!-- Navigation Header -->
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper teal">
      <ul id="slide-out" class="side-nav left">
        <li class="navbar-header">Friendler</li>
        <li><a href="profile"><i class="material-icons left">perm_identity</i>My Friendler</a></li>
        <li><a href="store"><i class="material-icons left">local_grocery_store</i>Store</a></li>
        <li><a href="inventory"><i class="material-icons left">assignment</i>Inventory</a></li>
        <li><a href="friends"><i class="material-icons left">contacts</i>Friends List</a></li>
        <li><a href="checkin"><i class="material-icons left">place</i>Check-In</a></li>
      </ul>
      <ul class="left">
        <li><a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a></li>
      </ul>
      <a href="profile" class="brand-logo center">Friendler</a>
      <ul id="nav-mobile" class="right">
        <li><a href="/" onclick="logout()">Logout</a></li>
      </ul>
    </div>
  </nav>
</div>