<div id="successfulCheckInModal" class="modal">
  <div class="modal-content">
    <h5>Check In Successful</h5>
    <p id="checkInMessage"></p>
  </div>
  <div class="modal-footer">
    <a href="store" class="modal-action modal-close teal btn-flat" style="color: white;">Go to Store</a>
  </div>
</div>