<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Friendler</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS for Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="../css/materialize.css"/>
</head>
<body>
{{> navbar}}

<!-- Content -->
<div id="map-content" class="container">
  <h4 style="text-align:center">You are here</h4>
  <img class="responsive-img" src="images/multipurpose.png">
</div>
<div id="search-form" class="container">
  <h5 style="text-align: center">Where are you checking in at?</h5>
  <div class="row">
    <form class="col s12">
      <div class="input-field col s6">
        <input placeholder="Type your location here" id="searchFor" type="text">
      </div>
      <div style="padding: 20px">
        <button class="btn waves-light" id="searchBtn">Search<i class="material-icons right">send</i></button>
      </div>
    </form>
  </div>
</div>
<div id="places">
</div>

{{> footer}}

{{> materializeScripts}}
{{> parseScripts}}
{{> googleAnalytics}}
<script src="../js/checkin.js"></script>
</body>
</html>