<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Friendler</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS for Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="../css/materialize.css"/>
</head>
<body onLoad="Materialize.fadeInImage('#main-content'); listFriends();">
{{> navbar}}

<!-- Content -->
<div id="main-content" class="container">
  <ul class="collection-header" id="friendsList">
    <li class="collection-header"><h4>Who are you checking in with? </h4></li>
    <li class="collection-header"><h6>(or just click check-in if you're by yourself)</h6></li>
  </ul>
  <a href="profile" style="color:white;">
    <button class="btn waves-effect waves-light" id="checkInButton" onClick="checkedCount()" type="submit">Check-In
      <i class="material-icons right">send</i>
    </button>
  </a>
</div>

{{> footer}}

{{> materializeScripts}}
{{> parseScripts}}
{{> googleAnalytics}}
</body>
</html>