<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Friendler</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- CSS for Materialize -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="../css/materialize.css"/>
</head>
<body onLoad="Materialize.fadeInImage('#main-content')">
  <!-- Navigation Header -->
  <nav class="navbar-fixed">
    <div class="nav-wrapper teal">
      <a href="#" class="brand-logo center">Friendler</a>
      <ul id="nav-mobile" class="left">
        <li><a href="profile.html">Back</a></li>
      </ul>
      <ul id="nav-mobile" class="right">
        <li><a class="hide-on-small-only" href="#" onClick="$('this').preventDefault();">Tricia Ngoon</a>
        <li><a href="index.html">Logout</a></li>
      </ul>
    </div>
  </nav>

  <!-- Content -->
  <div id="main-content" class="container">
    <ul class="collection with-header">
      <li class="collection-header"><h4>Friends List</h4></li>
      <li class="collection-item">
        <input type="checkbox" class="filled-in" id="first"/>
        <label for="first">Jimmy Quach</label>
      </li>
      <li class="collection-item">
        <input type="checkbox" class="filled-in" id="second"/>
        <label for="second">Jacob Terrado</label>
      </li>
      <li class="collection-item">
        <input type="checkbox" class="filled-in" id="third"/>
        <label for="third">Nicholas Siphengphone</label>
      </li>
      <li class="collection-item">
        <input type="checkbox" class="filled-in" id="fourth"/>
        <label for="fourth">Scott Klemmer</label>
      </li>
      <li class="collection-item">
        <input type="checkbox" class="filled-in" id="fifth"/>
        <label for="fifth">Tricia's Other Friend</label>
      </li>
      <li class="collection-item">
        <input type="checkbox" class="filled-in" id="sixth"/>
        <label for="sixth">Tricia's Other Friend</label>
      </li>
      <li class="collection-item">
        <input type="checkbox" class="filled-in" id="seventh"/>
        <label for="seventh">More Friends</label>
      </li>
    </ul>
    <a href="checkin.html" style="color:white;">
      <button class="btn waves-effect waves-light" type="submit" name="action">Check In
      <i class="material-icons right">send</i>
      </button>
    </a>
  </div>

  <!-- Footer -->
 	<footer class="page-footer teal">
 		<div class="container">
      <div class="row">
        <div class="col s12">
        	<h5 class="white-text">Friendler</h5>
          <p class="grey-text text-lighten-4">Here at Friendler, we understand that social anxiety is often an inhibitting factor for people that prevent them from meeting new friends and strengthening old bonds. However, by providing you with small and incremental incentives, we hope to mitigate these anchors to help you lean into your discomforts and make social interactions feel more routine and encouraging.</p>
        </div>
      </div>
    </div>
 	  <div class="footer-copyright">
    	<div class="container">
        © 2016 Copyright
      </div>
    </div>
  </footer>

	<!-- Scripts for Materialize -->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../js/materialize.min.js"></script>
</body>
</html>