<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Friendler</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS for Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/css/materialize.css"/>
</head>
<body onLoad="Materialize.fadeInImage('#main-content');">
<!-- Navigation Header -->
<nav>
  <div class="nav-wrapper teal">
    <a href="#" class="brand-logo center">Friendler</a>
  </div>
</nav>

<!-- Content -->
<div class="container">
  <div id="main-content" class="card">
    <br>
    <div class="container center">
      <h3 class="header orange-text">Welcome to Friendler</h3>
      <img class="responsive-img" src="/images/corgi_friendler.png">
    </div>
    <div class="container">
      <form id="loginForm" novalidate="novalidate" onsubmit="login();" class="col s12 center">
        <div class="row center">
          <div class="col s1">&nbsp;</div>
          <div class="input-field col s10">
            <label for="usernameLogin">Username</label>
            <input id="usernameLogin" name="usernameLogin" data-error=".usernameLoginError" type="text">
            <div class="usernameLoginError"></div>
          </div>
          <div class="col s1">&nbsp;</div>
        </div>
        <div class="row">
          <div class="col s1">&nbsp;</div>
          <div class="input-field col s10">
            <label for="passwordLogin">Password</label>
            <input id="passwordLogin" name="passwordLogin" data-error=".passwordLoginError" type="password" required>
            <div class="passwordLoginError"></div>
          </div>
          <div class="col s1">&nbsp;</div>
        </div>
        <div class="row center col s12">
          <button id="loginButton" class="btn waves-effect waves-light" type="submit">Login</button>
        </div>
        <div class="row center col s12">
          <a href="#signUpModal" onClick="$('#signUpModal').openModal();">New User? Sign up here</a>
          <a href="#passwordModal" onClick="$('#passwordModal').openModal();">Forgot Password? Reset here</a>
          <br>
        </div>
      </form>
    </div>
  </div>
</div>

{{> footer}}

{{> materializeScripts}}
{{> parseScripts}}
{{> googleAnalytics}}
{{> signupModal}}
{{> passwordModal}}

</body>
</html>