<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Friendler</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS for Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="../css/materialize.css"/>
</head>
<body
  onLoad="Materialize.fadeInImage('#main-content'); sendEncouragement(); levelUp(); showPoints(); showLevel(); showEvo()">
{{> navbar}}

<!-- Content -->
<div class="container">
  <div id="main-content" class="card">
    <br>
    <h2 class="header center black-text">My Friendler</h2>
    <div class="container center" id="avatar">
    </div>
    <ul class="container">
      <div class="collection">
        <li class="collection-item">Name:<span id="friendlerName" class="badge">Ditto</span></li>
        <a href="inventory" class="collection-item">Mood:<span class="badge"><span id="mood"></span></span></a>
        <a onClick= "xpModal()" class="collection-item">Level:<span class="badge"><span id="level"></span></span>
        <a href="store" class="collection-item">Points To Spend:<span class="badge"><span id="point"></span></span></a>
      </div>
      <div class="container center">
        <div><a class="waves-effect waves-light btn-large" href="evolution" id="evo" style="visibility:hidden;"><i
          class="material-icons right">autorenew</i>EVOLUTION</a></div>
        <br>
      </div>
    </ul>
  </div>
</div>


<div id="XPModal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <p id="cXP"></p>
    <p id="nXP"></p>
  <div class="center card-action">
    <a onClick= "$('#XPModal').closeModal();">Confirm</a>
  </div>
  </div>
</div>

{{> footer}}

{{> materializeScripts}}
{{> parseScripts}}
{{> checkInFab}}
{{> googleAnalytics}}

<script>
  $(document).ready(function () {
    var midnight = new Date();
    midnight.setHours(23, 59, 59, 0);
    var x = null;
    if (!x) {
      x = document.cookie = "username = emotionCookie; expires = midnight";

      var currentUser = Parse.User.current();
      var emo = showEmotion();
      if ((emo - 2) < 0) {
        currentUser.set("emotion", 0);
        currentUser.save();
      }
      else {
        currentUser.set("emotion", emo - 2);
        currentUser.save();
      }
    }
    document.getElementById("mood").innerHTML = moodSet();
  });
</script>

<script>
  var encouragementArray = new Array();
  var index = 0;

  encouragementArray[0] = document.getElementById('friendlerName').innerHTML + ": Let's hangout with your friends today!";
  encouragementArray[1] = document.getElementById('friendlerName').innerHTML + ": Small steps. Small steps.";
  encouragementArray[2] = document.getElementById('friendlerName').innerHTML + ": Don't be afraid to talk to others!";
  encouragementArray[3] = document.getElementById('friendlerName').innerHTML + ": Say 'hi' to a stranger and make them your friend";
  encouragementArray[4] = document.getElementById('friendlerName').innerHTML + ": I hope you're doing well!";
  encouragementArray[5] = document.getElementById('friendlerName').innerHTML + ": I'm hungry. Purchase me something from the store!";

  function sendEncouragement() {
    Materialize.toast(encouragementArray[index], 3000);

    index = ++index % 6;
    setTimeout('sendEncouragement()', 12000);
  }
  avatarCheck();
</script>

</body>
</html>