<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Friendler</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS for Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="../css/materialize.css"/>
</head>
<body onLoad="Materialize.fadeInImage('#main-content'); sendEncouragement(); levelUp(); showPoints(); showLevel(); showEvo(); avatarCheck()">
{{> navbar}}

<!-- Content -->
<div class="container">
  <div id="main-content" class="card">
    <br>
    <h2 class="header center black-text">My Friendler</h2>
    <div class="container center" id="avatar">
    </div>
    <div class="container">
      <div class="collection">
        <a href="#" class="collection-item">Name:<span class="badge">Ditto</span></a>
        <a href="#" class="collection-item">Mood:<span class="badge"><span id="mood"></span></span></a>
        <a href="#" class="collection-item">Level:<span class="badge"><span id="level"></span></span></a>
        <a href="#" class="collection-item">Points To Spend:<span class="badge"><span id="point"></span></span></a>
      </div>
        <div class="container center">
      <div> <a class="waves-effect waves-light btn-large" href = "evolution" id = "evo" style="visibility:hidden;"><i class="material-icons right">autorenew</i>EVOLUTION</a></div>
      <br>
    </div>
    </div>
  </div>
</div>

{{> footer}}

{{> materializeScripts}}
{{> parseScripts}}


<script>
  $(document).ready(function () {
    var midnight = new Date();
    midnight.setHours(23, 59, 59, 0);
    var x = null;
    if (x) {
      console.log("yes");
    }
    else {
      x = document.cookie = "username = emotionCookie; expires = midnight";
      console.log("yes2");
      var currentUser = Parse.User.current();
      var emo = showEmotion();
      if ((emo - 5) < 0) {
        currentUser.set("emotion", 0);
        currentUser.save();
        console.log("leggo");
      }
      else {
        currentUser.set("emotion", emo - 5);
        currentUser.save();
        console.log("stillgood");
      }
    }
    document.getElementById("mood").innerHTML = moodSet();
  });
</script>

<script>
  var encouragementArray = new Array();
  var index = 0;

  encouragementArray[0] = "I hope you're doing well!";
  encouragementArray[1] = "Let's hangout with your friends today :D!";
  encouragementArray[2] = "Don't be afraid to socialize!";
  encouragementArray[3] = "Let's go somewhere!";
  encouragementArray[4] = "Take small steps";
  encouragementArray[5] = "Let's hangout with Team Beast!";

  function sendEncouragement() {
    if (window.location == "http://friendler.herokuapp.com/profile") {
      Materialize.toast(encouragementArray[index], 3000);

      index = ++index % 6;
      setTimeout('sendEncouragement()', 10000);
      return;
    }
  }
</script>

</body>
</html>