<!DOCTYPE html>
<html>
<head>
  {{> googleAnalyticsExperiment}}
  <meta charset="UTF-8">
  <title>Friendler</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS for Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="../css/materialize.css"/>
</head>
<body onLoad="Materialize.fadeInImage('#main-content')">
<!-- Navigation Header -->
{{> navbar}}

<!-- Content -->
<div class="container">
  <div class="card">
    <br>
    <h5 class="header center black-text">Welcome to the World of Friendlers</h5>
    <div class="row">
      <div class="col s1">&nbsp;</div>
      <div class="center col s10">
        <img class="responsive-img" src="images/ditto.png">
      </div>
      <div class="col s1">&nbsp;</div>
    </div>
    <div class="row">
      <div class="container">
        <div class="card-content">
          <p style="font-size:18px;">Here is your very own Friendler! Keep it happy and healthy by checking in with them at the venues that you visit or by buying it food from the store! Treat it well as it can get a bit moody!</p>
        </div>
      </div>
    </div>
    <div class="center card-action">
      <a href="profile">Start Journey</a>
      <a href="#learnMoreModal" onClick="$('#learnMoreModal').openModal();" id="tutorialTest2" style="color:red;"><b>Learn to Play</b></a>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="learnMoreModal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>How to Play</h4>
    <p>Earn points by checking into public places like restaurants, parks, and other venues!</p>
    <p>You can check in by yourself or if you're feeling really adventurous, check in with others to get even more points!
    <ul class="collection">
      <li class="collection-item">By yourself (200 points)</li>
      <li class="collection-item">With friends (200 points + 200 more points for every friend you're with!)</li>
    </ul>
    </p>
    <p>Use your points to purchase:
    <ul class="collection">
      <li class="collection-item">Coupons for venues that you might go to!</li>
      <li class="collection-item">Food for your Friendler to keep it happy!</li>
    </ul>
    </p>
    <p>The number of points you earn also add up to help you level up your Friendler and reaching certain levels will unlock surprising new contents!
    </p>
  </div>
  <div class="modal-footer">
    <a href="profile" class=" modal-action modal-close waves-effect waves-green btn-flat">Start my journey</a>
  </div>
</div>

{{> footer}}

{{> materializeScripts}}
{{> parseScripts}}
{{> googleAnalytics}}
</body>
</html>