<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Friendler</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS for Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="../css/materialize.css"/>
</head>
<body onLoad="Materialize.fadeInImage('#main-content')">
<!-- Navigation Header -->
{{> navbar}}

<!-- Content -->
<div class="container">
  <div class="card">
    <br>
    <h2 class="header center black-text">Welcome to the World of Friendlers</h2>
    <div class="row">
      <div class="col s1">&nbsp;</div>
      <div class="center col s10">
        <img class="responsive-img" src="images/ditto.png">
      </div>
      <div class="col s1">&nbsp;</div>
    </div>
    <div class="row">
      <div class="container">
        <div class="card-content">
          <h5>Here is your very own Friendler! Keeping them happy and healthy by buying food and equipment for them with the points you earn! Make sure you treat them well, they can get a bit moody!</h5>
        </div>
      </div>
    </div>
    <div class="center card-action">
      <a href="profile">Start my journey</a>
      <a href="#learnMoreModal" onClick="$('#learnMoreModal').openModal();">How To Play</a>
    </div>
    <div class="col s1">&nbsp;</div>
    <div id="learnMoreModal" class="modal modal-fixed-footer">
      <div class="modal-content">
        <h4>How to Play</h4>
        <p>Earn points by checking into public places like restaurants, parks, and other venues!</p>
        <p>Points are rewarded according to the number of people you check in with:
        <ul class="collection">
          <li class="collection-item">By yourself (200 points)</li>
          <li class="collection-item">With friends (200 points + 200 more points for every friend you're with!)</li>
        </ul>
        </p>
        <p>Use your points to purchase:
        <ul class="collection">
          <li class="collection-item">Equipment for your Friendler</li>
          <li class="collection-item">Food to feed your Friendler</li>
        </ul>
        </p>
        <p>The number of points you earn also add up to help you level up your Friendler and reaching certain levels will unlock surprising new contents! 
        </p>
      </div>
      <div class="modal-footer">
        <a href="profile" class=" modal-action modal-close waves-effect waves-green btn-flat">Start my journey</a>
      </div>
    </div>
  </div>
</div>

{{> footer}}

{{> materializeScripts}}
{{> parseScripts}}
</body>
</html>