<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Friendler</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS for Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="../css/materialize.css"/>
</head>
<body onLoad="Materialize.fadeInImage('#main-content')" bgcolor="red">

<!-- Content -->
<div class="container">
  <div class="slider">
    <ul class="slides">
      <li>
        <h4 class="header center black-text">Welcome to the World of Friendlers</h4>
        <div class="container">
          <img class="responsive-img" src="images/cuteSlime.jpg" id="tutorialImage">
        </div>
        <div class="container">
          <p style="color:black;" align="center">Here is your very own Friendler! Keep it happy and healthy by checking in at the venues that you visit or by feeding it food from the store! Level it up and treat it well! They can get a bit moody!</p>
        </div>
      </li>
      <li>
        <img class="responsive-img" src="images/addFriend.png" id="tutorialImage">
        <div class="container">
          <b><p style="font-size:18px; color:black;" align="center">Adding a friend (they don't need to have Friendler)</p></b>
          <p style="color:black;" align="center"><i class="tiny material-icons">label</i>Navigate to your Friends List </p>
          <p style="color:black;" align="center"><i class="tiny material-icons">label</i>Click on Add Friend</p>
          <p style="color:black;" align="center"><i class="tiny material-icons">label</i>Enter your friend's name</p>
        </div>
      </li>
      <li>
        <div class="container">
          <br>
          <br>
          <br>
          <br>
          <b>
            <p style="font-size:18px; color:black" align="center">Earn points by checking into public places like restaurants, parks, and other venues!</p>
            <p style="font-size:14px; color:black" align="center">Points are given by checking-in:
            </p>
          </b>
         <p style="color:black;" align="center"><i class="tiny material-icons">label</i>By yourself (200 points)</p>
         <p style="color:black;" align="center"><i class="tiny material-icons">label</i>With friends (200 points + 200 more points for every friend you're with!)</p>
        </div>
      </li>
      <li>
        <img class="responsive-img" src="images/checkin.png" id="tutorialImage">
        <div class="container">
          <b><p style="font-size:18px; color:black;" align="center">How do you check-in?</p></b>
          <p style="color:black;" align="center"><i class="tiny material-icons">label</i>Tap on the orange bottom right button found on most screens!</p>
          <p style="color:black;" align="center"><i class="tiny material-icons">label</i>Type in the name of the venue you're at</p>
          <p style="color:black;" align="center"><i class="tiny material-icons">label</i>Click Search and click on the correct location listed</p>
        </div>
      </li>
      <li>
        <img class="responsive-img" src="images/storess.png" id="tutorialImage">
        <div class="container">
          <b>
            <p style="font-size:18px; color:black;" align="center">Buy cool items from the store!</p>
          </b>
            <p style="color:black;" align="center"><i class="tiny material-icons">label</i>Food</p>
            <p style="color:black;" align="center"><i class="tiny material-icons">label</i>Coupons</p>
            <p style="color:black;" align="center"><i class="tiny material-icons">label</i>The Mystery Box</p>
            <p align="center"><a href="profile" class="btn teal">Start my journey</a></p>
            <br>
        </div>
      </li>
    </ul>
  </div>
</div>

<!-- Modal -->

<div id="learnMoreModal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>How to Play</h4>
    <p>Earn points by checking into public places like restaurants, parks, and other venues!</p>
    <p>You can check in by yourself or if you're feeling really adventurous, check in with others to get even more points!
    <ul class="collection">
      <li class="collection-item">By yourself (200 points)</li>
      <li class="collection-item">With friends (200 points + 200 more points for every friend you're with!)</li>
    </ul>
    </p>
    <p>Use your points to purchase:
    <ul class="collection">
      <li class="collection-item">Coupons and rewards for venues that you might like to go to!</li>
      <li class="collection-item">Food for your Friendler to keep it happy!</li>
    </ul>
    </p>
    <p>The number of points you earn also add up to help you level up your Friendler and reaching certain levels will unlock surprising new contents!
    </p>
  </div>
  <div class="modal-footer">
    <a href="profile" class=" modal-action modal-close waves-effect waves-green btn-flat">Start my journey</a>
  </div>
</div>

{{> footer }}
{{> materializeScripts}}
{{> parseScripts}}

  <script>
    $(document).ready(function(){
      $('.slider').slider('pause');
      $('.indicator-item').on('click',function(){
        $('.slider').slider('pause');
      });
    });
  </script>
</body>
</html>